<!-- <section class="components" *ngIf="!deletarCiclo"> 
    <app-ciclo class="filhos" [idade] = 'valorIdade' ></app-ciclo>
    <button (click)="mudarValor()">Mudar valor</button>
    <button (click)="destruirCiclo()">Destruir Ciclo</button>
    <app-componente-inicial class="filhos">
    </app-componente-inicial>
    <app-texto class="filhos" title = 'seu texto foi sobrescrito no app.component'> </app-texto>
</section>
<app-diretivas></app-diretivas>
<app-diretivas-atributos>
    <h1>diretivas atributos</h1>
    <hr>
</app-diretivas-atributos>
<app-new-component></app-new-component>
 -->
 <app-input [contador]="10"></app-input>
 <ng-template [ngIf]="getDados">
     <h1>{{getDados.nome}}</h1>
     <p>{{getDados.idade}}</p>
 </ng-template> 
 <app-output (enviarDados)="setDados($event)"></app-output>